* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: beige;
}

nav {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 15%;

  padding: 20px;
  justify-content: center;
  left: 0px;
  top: 0px;
}

nav img {
  width: 5%;
  height: 90%;
}

a:not(#link) {
  position: relative;
  color: black;
  text-decoration: none;
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  bottom: 40%;
}

a:not(#link):hover {
  background-color: #e3e3e3;
}

h1:not(#error) {
  margin-top: 8%;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.5vw;
}

#players {
  margin-left: 5%;
  margin-top: 3%;
  padding: 30px;
  width: 90%;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

section {
  background-color: black;

  color: yellow;
  border-style: solid;
  border-color: yellow;
  padding: 30px;
  float: left;
  top: 10%;
  font-size: 1.5vw;
  text-align: center;
}

#VikingsA {
  background-color: red;
}

#VictoriaA {
  background-color: darkgreen;
}

button {
  background-color: yellow;
  padding: 20px;
  font-size: 1vw;
  margin-top: 3%;
  margin-left: 10%;
  font-weight: bold;
}

#save {
  /*Needs to be centred*/
  background-color: lightskyblue;
  margin-left: 50%;
  padding: 15px;
}
#save:hover {
  background-color: rgb(172, 223, 255);
}

#lists p {
  background-color: black;
  color: white;
  padding: 7px;
}

#lists p:hover {
  background-color: #343434;
}

#error {
  color: red;
  font-style: italic;
  text-align: center;
}
