* {
  box-sizing: border-box;
  font-family: monospace;
  --x: 0;
}

body {
  position: relative;
  padding-top: 8%;
}

.main {
  background-color: beige;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  width: 80%;
  float: center;
  border-style: solid;
  border-color: black;
}

h1 {
  text-align: center;
}

nav {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 15%;

  padding: 20px;
  justify-content: center;
  left: 0px;
  top: 0px;
}

nav img {
  width: 5%;
  height: 90%;
}

a:not(#link) {
  position: relative;
  color: black;
  text-decoration: none;
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  bottom: 40%;
}

a:not(#link):hover {
  background-color: #e3e3e3;
}

th:hover {
  background-color: white;
}

table,
td {
  border: 1px solid black;
  padding: 8px;
  border-collapse: collapse;
  text-align: center;
}

table {
  margin-left: 25%;
  width: 50%;
  margin-bottom: 32px;
}

th {
  padding: 5px;
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:nth-child(odd) {
  background-color: white;
}

table tr:hover {
  background-color: #ddd;
}

.footer {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: darkgray;
}
